* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  --lightGld: rgb(236, 212, 131);
  --pink: rgb(226, 112, 112);
  background-color: rgb(70, 119, 165);
}

.header {
  background-color: var(--pink);
  color: var(--lightGld);
  text-align: center;
}

#couch {
  margin: 0.5rem;
}

#couch {
  height: 300px;
  clip-path: ellipse();
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

nav a {
  width: 208px;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--lightGld);
  font-size: 20px;
  border: 2px solid var(--lightGld);
  border-radius: 5px;
}

nav a:hover {
  transition: ease-in-out 0.3s;
  background-color: var(--lightGld);
  color: var(--pink);
}

main {
  margin-top: 1rem;
  color: var(--lightGld);
  text-align: center;
}

#car {
  height: 600px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
}

.article {
  margin: 1rem;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 20px;
}

#looking {
  height: 600px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
}
